<div class="container_">
    <header class="header">
        <div class="icon_box">
            <i-feather name="slack" class="icon_color"></i-feather>
        </div>
        <div class="logo">
            <h1>CATS4U</h1>
        </div>

        <div class="sub_logo">
            <i-feather name="layers" class="icon_color"></i-feather>
            <h1>iProcess</h1>
        </div>

        <ul>
            <li>{{header.module}}</li>
            <li>></li>
            <li>{{header.links}}</li>
        </ul>
        
        <!-- <h1>header</h1> -->
    </header>
</div>
