/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import '~angular-calendar/css/angular-calendar.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
}
